/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 nov. 2016, 16:19:42
    Author     : Arnaud Fonce <arnaud.fonce@r-w-x.net>
*/
html {
    height: 100%;
}

.blue-rwx {
    background-color: #283C54;
    color: white;
}

.topbar {
    display: inline-block; 
    width: 100%; 
    background-color: #283C54;
}

.ink-navigation ul.menu.blue-rwx li a {
    color: inherit;
    text-decoration: none;
}

.ink-navigation ul.menu.blue-rwx li a:hover {
    background: none repeat scroll 0% 0% #544028;
}
.ink-navigation ul.menu.blue-rwx li.active a {
    background: none repeat scroll 0% 0% #544028;
}

.ink-navigation ul.menu.blue-rwx li h1 {
    font-size: inherit;
    margin: 0 0;
}

.ink-navigation ul.menu.blue-rwx li h1 a {
    background: none repeat scroll 0% 0% #544028;
    color: lightgray;
    font-size: inherit;
    padding: 0.5em 1em;
    line-height: 1.7;
}

.ink-navigation ul.menu.blue-rwx li h1 a:hover {
    color: white;
}
