@font-face {
  font-family: 'quadranta';
}

body, .usertext {
  color: #F0F0F0; 
  background: #600;
  font-family: 'quadranta';
}

@import url(print.css);
@media print {
  a[href^=http]::after {
    content: attr(href)
  }
}
